NODE_ENV=<development|production>
PORT=<your-server-port>
DATABASE_URL=<your-mongodb-database-url>
OPENAI_API_KEY=<your-openai-api-key>
RAPIDAPI_API_KEY=<your-rapidapi-api-key>
VOICERSS_API_KEY=<your-voicerss-api-key>
JWT_SECRET=<your-jwt-secret>
SMTP_USER=<your-gmail-smtp-user>
SMTP_PASSWORD=<your-gmail-smtp-password>
SMTP_TO_EMAIL=<the-email-address-you-want-to-send-emails-to>
